<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"/>
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>TONE ZONE</title>
  </head>
  <body>
    <nav>
      <ul>
        <h1>TONE ZONE</h1>
      </ul>
      <ul>
        <li id="p1">1</li>
        <li id="p2">2</li>
        <li id="p3">3</li>
      </ul>
    </nav>
    {{{body}}}
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- https://cdnjs.com/libraries/jqueryui -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.49/Tone.js"
    ></script>
    <script src="/assets/scripts/audiokeys.js"></script>

    <script type="module" src="/js/dom.js"></script>
    <script type="module" src="/js/helpers.js"></script>
    <script type="module" src="/js/script.js"></script>
  </body>
</html>