:root {
  --lt-blue: rgb(141, 150, 249);
  --lt-red: rgb(249, 141, 141);
  --lt-yel: rgb(249, 233, 141);
}
/* main.handlebars */
* {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.05em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  padding: 0px 10px;
  margin: 3px 0px;
  text-align: center;
}

nav h1 {
  font-size: 2em;
  text-align: left;
  padding-bottom: 5px;
  margin: 15px 0px;
}

nav li {
  padding: 15px;
  display: inline;
  cursor: pointer;
}
nav li:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
}

/* p2.handlebars */
.p2-container {
  padding: 20px;
}
/* pertaining to display */

.synth-rack {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.synth-card {
  border-radius: 10px;
  border: black solid 2px;
  width: 30%;
  margin-top: 10px;
  padding: 5px;
}

.synth-dd {
  border: black solid 2px;
  border-radius: 3px;
  cursor: pointer;
}
.synth-dd:hover {
  background-color: black;
  color: white;
}

select::-ms-expand {
  background-color: white;
}

.synth-dd option {
  background-color: white;
}

.opt-div {
  background-color: white;
}
.synth-card.a,
.disp-card.a {
  background-color: var(--lt-red);
}
.synth-card.b,
.disp-card.b {
  background-color: var(--lt-yel);
}
.synth-card.c,
.disp-card.c {
  background-color: var(--lt-blue);
}

.disp-card.a,
.disp-card.b,
.disp-card.c {
  background-color: black;
}
.disp-card.ab {
  background-image: linear-gradient(
    to right,
    var(--lt-red) 0%,
    var(--lt-red) 20%,
    rgb(251, 201, 107) 20%,
    rgb(251, 201, 107) 80%,
    var(--lt-yel) 80%,
    var(--lt-yel) 100%
  );
}
.disp-card.bc {
  background-image: linear-gradient(
    to right,
    var(--lt-yel) 0%,
    var(--lt-yel) 20%,
    rgb(145, 220, 145) 20%,
    rgb(145, 220, 145) 80%,
    var(--lt-blue) 80%,
    var(--lt-blue) 100%
  );
}

.disp-card.abc {
  background-image: linear-gradient(
    to right,
    var(--lt-red) 0%,
    var(--lt-red) 20%,
    rgb(251, 201, 107) 20%,
    rgb(251, 201, 107) 40%,
    /* First stripe: Red */ var(--lt-yel) 40%,
    var(--lt-yel) 60%,
    rgb(145, 220, 145) 60%,
    rgb(145, 220, 145) 80%,
    /* Second stripe: Green */ var(--lt-blue) 80%,
    var(--lt-blue) 100% /* Third stripe: Blue */
  );
}
.disp-card.abc-2 {
  background-image: linear-gradient(
    to right,
    var(--lt-red) 0%,
    var(--lt-red) 33.33%,
    /* First stripe: Red */ var(--lt-yel) 33.33%,
    var(--lt-yel) 66.66%,
    /* Second stripe: Green */ var(--lt-blue) 66.66%,
    var(--lt-blue) 100% /* Third stripe: Blue */
  );
}

.synth-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 20px;
}
/* .ctrl-toggle-el {
  display: flex;
  justify-content: center;
} */
.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 20px;
}

.mod-container {
  display: none;
}

#sy-tog-cntr {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.ctrl-toggle {
  border: black solid 2px;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  cursor: pointer;
}

.ctrl-toggle:hover {
  background-color: black;
  color: white;
}
.control-mod {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider {
  border: rgb(55, 55, 55) solid 1px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
}
.ui-widget.ui-widget-content {
  border: rgb(55, 55, 55) solid 1px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -0.65em;
}
.v-sli.sli-han {
  width: 2em;
  height: 1em;
  /* margin-top: -0.8em; */
  text-align: center;
  line-height: 1em;
  border: black solid 2px;
  color: white;
  background-color: black;
}

.eq-fader {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.disp-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.disp-card {
  border-radius: 10px;
  border: black solid 2px;
  width: 30%;
  margin-top: 10px;
  padding: 5px;
}

.disp-card h2 {
  text-align: center;
}
.disp-card h3 {
  text-align: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note-div {
  display: flex;
  justify-content: center;
}
.int-div {
  display: flex;
  justify-content: center;
}
.note-name {
  font-size: 50px;
  text-align: center;
}
.int-name {
  font-size: 50px;
  text-align: center;
}
.table-val {
  color: rgb(19, 97, 0);
}
.table-prop {
  color: rgb(0, 59, 59);
}
.info-key {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-val {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-val > span {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 200;
  unicode-bidi: isolate;
}

.info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.info-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.info-col > span {
  display: block;
  text-align: center;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 200;
  unicode-bidi: isolate;
}

.int-disp-row {
  display: flex;
  justify-content: space-around;
}
.chord-disp-row {
  display: flex;
  justify-content: center;
}
.cd-sub-row {
  display: flex;
  flex-direction: row;
}
#im-tog-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
#img-tog {
  border: black solid 2px;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  cursor: pointer;
}
#img-tog:hover {
  background-color: black;
  color: white;
}
#img-disp-tog {
  border: black solid 2px;
  border-top: 0px;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  cursor: pointer;
}
#img-disp-tog:hover {
  background-color: black;
  color: white;
}
.kbrd-map {
  margin-top: 10px;
  display: none;
  justify-content: center;
}
#key-map {
  border-radius: 10px;
  width: 100%;
  border: solid black 2px;
}

/* Was used in p1, might delete... */
/* #custom-handle-2 {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -0.8em;
  text-align: center;
  line-height: 1.6em;
} */

/* #handle-eq-low {
  width: 3em;
  height: 1.6em;
  margin-top: -0.8em;
  text-align: center;
  line-height: 1.6em;
}
#handle-eq-mid {
  width: 3em;
  height: 1.6em;
  margin-top: -0.8em;
  text-align: center;
  line-height: 1.6em;
}
#handle-eq-high {
  width: 3em;
  height: 1.6em;
  margin-top: -0.8em;
  text-align: center;
  line-height: 1.6em;
} */
