nav {
  display: block;
  border-bottom: solid black 2px;
}

nav ul {
  padding: 5px;
  text-align: center;
}

nav h1 {
  font-size: 2em;
  text-align: left;
  padding-bottom: 5px;
}

nav li {
  padding: 15px;
  display: inline;
}

#slider-vertical {
  width: 3em;
  height: 1.6em;
  margin-top: -0.8em;
  text-align: center;
  line-height: 1.6em;
}

#custom-handle-2 {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -0.8em;
  text-align: center;
  line-height: 1.6em;
}

#key-map {
  width: 50%;
}

#handle-eq-low {
  width: 3em;
  height: 1.6em;
  margin-top: -0.8em;
  text-align: center;
  line-height: 1.6em;
}
#handle-eq-mid {
  width: 3em;
  height: 1.6em;
  margin-top: -0.8em;
  text-align: center;
  line-height: 1.6em;
}
#handle-eq-high {
  width: 3em;
  height: 1.6em;
  margin-top: -0.8em;
  text-align: center;
  line-height: 1.6em;
}

.eq-fader {
  display: flex;
  width: 25%;
  justify-content: space-between;
}
